<body class="container">
    <br>
<h1>Mi app</h1>
    <nav class="nav">
    <a class="nav-link"  href="../">Inicio</a>
    <a class="nav-link" href="#"> {{#link-to 'nuevoevento'}} Crear Evento {{/link-to}} </a>
</nav>
<br>
<div id="main" >
    {{outlet}}
</div>
    
</body>