{{outlet}}
<h2>Lista de Eventos</h2>
<br>
<div class="row">
{{#each model as |evento|}}
<div class="col col-sm-4" style="margin-top:10px;">
    <div class="card" style="width: 20rem;" >
    <img class="card-img-top" src="http://via.placeholder.com/380x180" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{evento.nombre}}</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        {{#link-to 'perfilevento' evento.id}}<button type="button" class="btn btn-primary"><i class="fa fa-calendar-o" aria-hidden="true"></i> Ver Evento</button>{{/link-to}}
    </div>
    </div>
</div>
{{/each}}
</div>