<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.min.css">
{{outlet}}
<h2>Perfil del Evento</h2>
<br>
<div class="row">
    <div class="col col-sm-2"><center>
        <img class="rounded-circle" src="http://via.placeholder.com/100x100"></center>
    </div>
    <div class="col col-sm 10">
       

         {{form-evento evento=model didSave=(action 'irLista')}}<br>
        <button type="button" class="form-control btn btn-danger" {{action 'borrar' }} ><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button>
    <br><br><br>
    </div>
</div>