{{outlet}}
<h2>Perfil del Evento</h2>
<br>
<div class="row">
    <div class="col col-sm-2"><center>
        <img class="rounded-circle" src="http://via.placeholder.com/100x100"></center>
    </div>
    <div class="col col-sm 10">
        <h3><i class="fa fa-calendar-o" aria-hidden="true"></i> - {{model.nombre}}</h3>
        <br>
        <b>Descripción</b><br><br>
            <button type="button" class="btn btn-success" ><i class="fa fa-check" aria-hidden="true"></i> Asistir</button>
            <button type="button" class="btn btn-danger" {{action 'borrar'}}><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button>
    </div>
</div>